# Work on Sample data from League of Legends

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from utils import get_train_data_only

df_teams, df_BLUE, df_RED = get_train_data_only()

In [3]:
#How many data points we have
len(df_teams), len(df_BLUE)

(28254, 141270)

In [4]:
import numpy as np
import pandas as pd

In [5]:
df_teams

,id,start,patch,winner,duration,teams.BLUE.name,teams.BLUE.total_turret_kills,teams.BLUE.total_inhibitor_kills,teams.BLUE.total_rift_herald_kills,teams.BLUE.total_dragon_kills,teams.BLUE.total_baron_kills,teams.BLUE.side,teams.RED.name,teams.RED.total_turret_kills,teams.RED.total_inhibitor_kills,teams.RED.total_rift_herald_kills,teams.RED.total_dragon_kills,teams.RED.total_baron_kills,teams.RED.side,year
31563,LMS/2016 Season/Spring Season/Scoreboards_3_2,None,5.24,BLUE,1486,Hong Kong Esports,10,1,2,3,1,BLUE,Midnight Sun Esports,2,0,0,0,0,RED,2015
31596,LJL/2016 Season/Spring Season/Scoreboards_1_2,None,5.24,RED,2108,Unsold Stuff Gaming,3,0,1,1,0,BLUE,7th heaven,10,3,0,4,1,RED,2015
31595,LJL/2016 Season/Spring Season/Scoreboards_1_1,None,5.24,RED,2319,7th heaven,5,0,1,0,0,BLUE,Unsold Stuff Gaming,10,2,0,5,2,RED,2015
31588,CBLOL/2016 Season/Split 1/Scoreboards_2_2,None,5.24,BLUE,2535,Operation Kino e-Sports,8,1,0,1,2,BLUE,CNB e-Sports Club,9,1,1,4,0,RED,2015
31587,CBLOL/2016 Season/Split 1/Scoreboards_2_1,None,5.24,RED,4397,CNB e-Sports Club,11,5,1,5,3,BLUE,Operation Kino e-Sports,9,1,0,5,1,RED,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19074,VCS/2020 Season/Spring Season/Scoreboards/Week...,None,10.30,BLUE,2241,EVOS Esports,9,1,2,3,2,BLUE,Dashing Buffalo,2,0,0,3,0,RED,2020
19073,VCS/2020 Season/Spring Season/Scoreboards/Week...,None,10.30,RED,1673,Dashing Buffalo,0,0,0,1,0,BLUE,EVOS Esports,9,1,2,3,0,RED,2020
19072,VCS/2020 Season/Spring Season/Scoreboards/Week...,None,10.30,RED,1977,EVOS Esports,1,0,0,0,0,BLUE,Dashing Buffalo,11,2,1,4,1,RED,2020
19071,LCK/2020 Season/Spring Season/Scoreboards/Week...,None,10.30,BLUE,1690,Hanwha Life Esports,9,1,2,4,1,BLUE,Griffin (Korean Team),1,0,0,0,0,RED,2020
19084,LCL/2020 Season/Spring Season/Scoreboards_2_1,None,10.30,RED,1785,Dragon Army,0,0,0,1,0,BLUE,Gambit Esports,11,3,2,3,1,RED,2020

In [6]:
df_BLUE.head(10)

,name,id,role,champion_name,champion_id,gold_15,kills_assists_15,deaths_15,total_gold,total_cs,total_kills,total_monster_kills,total_assists,total_deaths,total_damage_taken,total_damage_dealt,win,side,game_id
0,MapleSnow,181619.0,TOP,Ryze,13,4468.0,9.0,0.0,9469,158,1,7,8,0,7285,92285,True,BLUE,LMS/2016 Season/Spring Season/Scoreboards_3_2
1,DinTer,151736.0,JGL,Rek'Sai,421,4519.0,14.0,0.0,9211,79,1,55,13,0,20433,96279,True,BLUE,LMS/2016 Season/Spring Season/Scoreboards_3_2
2,Chillyz,124304.0,MID,Ezreal,81,4884.0,14.0,1.0,11160,177,6,15,8,1,9621,116577,True,BLUE,LMS/2016 Season/Spring Season/Scoreboards_3_2
3,GodKwai,162689.0,BOT,Kalista,429,5587.0,13.0,0.0,12092,197,9,22,4,0,6639,124071,True,BLUE,LMS/2016 Season/Spring Season/Scoreboards_3_2
4,Olleh,187483.0,SUP,Thresh,412,3808.0,14.0,1.0,7874,28,2,0,12,1,8481,23867,True,BLUE,LMS/2016 Season/Spring Season/Scoreboards_3_2
5,apaMEN,189965.0,TOP,Poppy,78,4266.0,6.0,2.0,10197,155,3,3,3,2,24443,98798,False,BLUE,LJL/2016 Season/Spring Season/Scoreboards_1_2
6,isurugi,168477.0,JGL,Rek'Sai,421,4777.0,9.0,4.0,10269,135,0,88,9,4,41606,154047,False,BLUE,LJL/2016 Season/Spring Season/Scoreboards_1_2
7,Clockday,126275.0,MID,Lulu,117,5571.0,9.0,3.0,12601,255,2,30,7,3,16457,165679,False,BLUE,LJL/2016 Season/Spring Season/Scoreboards_1_2
8,Haretti,164268.0,BOT,Lucian,236,6400.0,11.0,3.0,14772,317,6,24,5,3,16546,242317,False,BLUE,LJL/2016 Season/Spring Season/Scoreboards_1_2
9,Enty,157643.0,SUP,Thresh,412,3746.0,11.0,5.0,8322,39,1,0,10,5,24508,25128,False,BLUE,LJL/2016 Season/Spring Season/Scoreboards_1_2

In [7]:
df_BLUE['win'].value_counts()

True     75565
False    65705
Name: win, dtype: int64

In [8]:
df_RED['win'].value_counts()

False    75565
True     65705
Name: win, dtype: int64

In [9]:
df_BLUE['win']

0          True
1          True
2          True
3          True
4          True
          ...
141265    False
141266    False
141267    False
141268    False
141269    False
Name: win, Length: 141270, dtype: bool

In [44]:
df_BLUE_WIN = df_BLUE[df_BLUE['win'] == True]
df_BLUE_WIN

,name,id,role,champion_name,champion_id,gold_15,kills_assists_15,deaths_15,total_gold,total_cs,total_kills,total_monster_kills,total_assists,total_deaths,total_damage_taken,total_damage_dealt,win,side,game_id
0,MapleSnow,181619.0,TOP,Ryze,13,4468.0,9.0,0.0,9469,158,1,7,8,0,7285,92285,True,BLUE,LMS/2016 Season/Spring Season/Scoreboards_3_2
1,DinTer,151736.0,JGL,Rek'Sai,421,4519.0,14.0,0.0,9211,79,1,55,13,0,20433,96279,True,BLUE,LMS/2016 Season/Spring Season/Scoreboards_3_2
2,Chillyz,124304.0,MID,Ezreal,81,4884.0,14.0,1.0,11160,177,6,15,8,1,9621,116577,True,BLUE,LMS/2016 Season/Spring Season/Scoreboards_3_2
3,GodKwai,162689.0,BOT,Kalista,429,5587.0,13.0,0.0,12092,197,9,22,4,0,6639,124071,True,BLUE,LMS/2016 Season/Spring Season/Scoreboards_3_2
4,Olleh,187483.0,SUP,Thresh,412,3808.0,14.0,1.0,7874,28,2,0,12,1,8481,23867,True,BLUE,LMS/2016 Season/Spring Season/Scoreboards_3_2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141260,CuVee,145319.0,TOP,Sett,875,4721.0,9.0,0.0,12000,234,3,4,6,0,17222,149617,True,BLUE,LCK/2020 Season/Spring Season/Scoreboards/Week...
141261,Haru,164289.0,JGL,Lee Sin,64,5234.0,14.0,1.0,11376,176,5,149,9,1,25646,165818,True,BLUE,LCK/2020 Season/Spring Season/Scoreboards/Week...
141262,Tempt,200837.0,MID,Taliyah,163,5984.0,12.0,2.0,12861,260,6,26,6,2,11456,161874,True,BLUE,LCK/2020 Season/Spring Season/Scoreboards/Week...
141263,Vsta,269898.0,BOT,Ezreal,81,5669.0,9.0,0.0,12747,271,5,16,4,0,10202,176925,True,BLUE,LCK/2020 Season/Spring Season/Scoreboards/Week...
141264,Lehends,179393.0,SUP,Thresh,412,3462.0,14.0,3.0,7594,29,0,0,14,3,9979,17480,True,BLUE,LCK/2020 Season/Spring Season/Scoreboards/Week...

In [11]:
df_RED_WIN = df_RED[df_RED['win'] == True]
df_RED_WIN

,name,id,role,champion_name,champion_id,gold_15,kills_assists_15,deaths_15,total_gold,total_cs,total_kills,total_monster_kills,total_assists,total_deaths,total_damage_taken,total_damage_dealt,win,side,game_id
5,Evi,158276.0,TOP,Tahm Kench,223,4417.0,9.0,3.0,13092,215,5,4,4,3,29983,122165,True,RED,LJL/2016 Season/Spring Season/Scoreboards_1_2
6,Awaker,190679.0,JGL,Lee Sin,64,3898.0,7.0,4.0,10636,93,0,78,7,4,24790,110383,True,RED,LJL/2016 Season/Spring Season/Scoreboards_1_2
7,Shinmori,197630.0,MID,Vel'Koz,161,4904.0,16.0,1.0,14534,227,4,19,12,1,8384,166147,True,RED,LJL/2016 Season/Spring Season/Scoreboards_1_2
8,Yutorimoyashi,206061.0,BOT,Miss Fortune,21,4672.0,13.0,2.0,15075,256,8,19,5,2,13605,192672,True,RED,LJL/2016 Season/Spring Season/Scoreboards_1_2
9,ThintoN,201353.0,SUP,Trundle,48,2930.0,14.0,2.0,10512,53,0,0,14,2,19133,24152,True,RED,LJL/2016 Season/Spring Season/Scoreboards_1_2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141265,Doxy,152267.0,TOP,Sett,875,5304.0,9.0,1.0,12188,220,2,12,7,1,18534,160254,True,RED,LCL/2020 Season/Spring Season/Scoreboards_2_1
141266,Diamondprox,151598.0,JGL,Lee Sin,64,4357.0,12.0,2.0,10186,142,4,122,8,2,23039,126992,True,RED,LCL/2020 Season/Spring Season/Scoreboards_2_1
141267,Chres,197479.0,MID,Diana,131,5245.0,14.0,4.0,12485,257,3,35,11,4,13918,183566,True,RED,LCL/2020 Season/Spring Season/Scoreboards_2_1
141268,Lodik,230449.0,BOT,Aphelios,523,6061.0,12.0,0.0,14745,277,9,17,3,0,8918,179201,True,RED,LCL/2020 Season/Spring Season/Scoreboards_2_1
141269,Edward,156743.0,SUP,Thresh,412,3586.0,13.0,5.0,7859,27,1,0,12,5,9520,20077,True,RED,LCL/2020 Season/Spring Season/Scoreboards_2_1

In [12]:
df_BLUE_CHAMPWINS = df_BLUE_WIN[["champion_name","champion_id","win"]]
df_BLUE_CHAMPWINS.head(10)

   champion_name  champion_id   win
0           Ryze           13  True
1        Rek'Sai          421  True
2         Ezreal           81  True
3        Kalista          429  True
4         Thresh          412  True
15          Ryze           13  True
16          Ekko          245  True
17          Lulu          117  True
18        Lucian          236  True
19         Poppy           78  True

In [13]:
df_RED_CHAMPWINS = df_RED_WIN[["champion_name","champion_id","win"]]
df_RED_CHAMPWINS.head(10)

   champion_name  champion_id   win
5     Tahm Kench          223  True
6        Lee Sin           64  True
7        Vel'Koz          161  True
8   Miss Fortune           21  True
9        Trundle           48  True
10    Tahm Kench          223  True
11         Elise           60  True
12         Corki           42  True
13        Lucian          236  True
14    Blitzcrank           53  True

In [14]:
df_both_champwins = pd.concat([df_BLUE_CHAMPWINS, df_RED_CHAMPWINS], verify_integrity=True)
df_total_champwins = df_both_champwins['champion_id'].value_counts(normalize=True)
df_total_champwins

201    0.028838
81     0.028060
79     0.022071
412    0.020627
236    0.018836
         ...
11     0.000099
77     0.000078
17     0.000078
35     0.000071
147    0.000071
Name: champion_id, Length: 152, dtype: float64

In [15]:
df_BLUE_CHAMPWINS["champion_name"].value_counts(normalize=True)

Braum        0.028161
Ezreal       0.027738
Gragas       0.021227
Thresh       0.019890
Lucian       0.019255
               ...
Master Yi    0.000093
Annie        0.000066
Teemo        0.000066
Udyr         0.000053
Shaco        0.000053
Name: champion_name, Length: 152, dtype: float64

In [16]:
df_BLUE_CHAMPWINS["champion_id"].value_counts(normalize=True)

201    0.028161
81     0.027738
79     0.021227
412    0.019890
236    0.019255
         ...
11     0.000093
1      0.000066
17     0.000066
77     0.000053
35     0.000053
Name: champion_id, Length: 152, dtype: float64

In [17]:
df_RED_CHAMPWINS["champion_name"].value_counts(normalize=True)

Braum        0.029617
Ezreal       0.028430
Gragas       0.023042
Thresh       0.021475
Jarvan IV    0.018385
               ...
Udyr         0.000107
Teemo        0.000091
Shaco        0.000091
Amumu        0.000076
Seraphine    0.000015
Name: champion_name, Length: 152, dtype: float64

In [18]:
df_BLUE_PLAYERWINS = df_BLUE_WIN[["name","win"]]
df_BLUE_PLAYERWINS.head(10)

         name   win
0   MapleSnow  True
1      DinTer  True
2     Chillyz  True
3     GodKwai  True
4       Olleh  True
15    SkyBart  True
16       Zuao  True
17       Goku  True
18    Theusma  True
19  Professor  True

In [19]:
df_RED_PLAYERWINS = df_RED_WIN[["name","win"]]
df_RED_PLAYERWINS.head(10)

             name   win
5             Evi  True
6          Awaker  True
7        Shinmori  True
8   Yutorimoyashi  True
9         ThintoN  True
10         apaMEN  True
11        isurugi  True
12       Clockday  True
13        Haretti  True
14           Enty  True

In [20]:
#Concat the two frames to drop the same players if needed

df_total_playerwins = pd.concat([df_BLUE_PLAYERWINS, df_RED_PLAYERWINS], verify_integrity=True)
df_total_playerwins["name"].value_counts(normalize=True)

Faker         0.002681
Ruler         0.002308
Peanut        0.002028
Perkz         0.002021
Deft          0.002007
                ...
LustMonkey    0.000007
Cheolmin      0.000007
ji won        0.000007
young do      0.000007
Focus         0.000007
Name: name, Length: 4402, dtype: float64

In [21]:
df_BLUE_PLAYERWINS["name"].value_counts(normalize=True)

Faker      0.002519
Ruler      0.002411
Perkz      0.002144
CoreJJ     0.002130
Jankos     0.002117
             ...
Demi       0.000013
Tofu       0.000013
bByYoO     0.000013
Lulos      0.000013
Cepeche    0.000013
Name: name, Length: 4129, dtype: float64

In [22]:
df_RED_PLAYERWINS["name"].value_counts(normalize=True)

Faker       0.002867
Ruler       0.002189
Peanut      0.002127
Bang        0.002096
Deft        0.002081
              ...
Ogierhaq    0.000015
Zaax        0.000015
Mofosky     0.000015
Meisu       0.000015
Focus       0.000015
Name: name, Length: 4066, dtype: float64

In [50]:
df_BLUE_totalwin = pd.concat([df_BLUE, df_total_champwins]).groupby('game_id').mean()
df_BLUE_totalwin

,0,champion_id,deaths_15,gold_15,id,kills_assists_15,total_assists,total_cs,total_damage_dealt,total_damage_taken,total_deaths,total_gold,total_kills,total_monster_kills
game_id,,,,,,,,,,,,,,
2016 International Wildcard Invitational/Scoreboards/Bracket Stage_1_1,NaN,147.6,2.0,4936.2,186576.2,11.2,8.0,246.4,206594.8,25451.2,2.0,15748.0,3.2,41.8
2016 International Wildcard Invitational/Scoreboards/Bracket Stage_1_2,NaN,188.2,3.0,4487.8,190878.4,3.4,2.4,177.2,105484.0,18869.4,3.0,9421.4,1.0,23.6
2016 International Wildcard Invitational/Scoreboards/Bracket Stage_1_3,NaN,229.8,1.6,4755.4,186576.2,16.2,12.2,139.4,99197.0,15510.6,1.6,10685.0,4.0,23.2
2016 International Wildcard Invitational/Scoreboards/Bracket Stage_2_1,NaN,159.0,1.4,4586.4,185406.2,11.0,7.8,206.4,144638.8,16820.4,1.4,12361.4,3.2,28.2
2016 International Wildcard Invitational/Scoreboards/Bracket Stage_2_2,NaN,87.6,0.6,4932.2,185406.2,8.4,6.0,151.6,109309.8,10179.2,0.6,10582.0,2.4,21.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XLG SuperCup 2016/Scoreboards_4_2,NaN,116.8,4.6,4269.6,198782.6,4.4,2.6,133.6,84797.2,17571.4,4.6,7942.0,1.8,13.6
XLG SuperCup 2016/Scoreboards_5_1,NaN,71.4,1.2,4479.2,178893.2,12.2,8.8,202.4,153521.4,19910.8,1.2,13701.6,3.4,29.6
XLG SuperCup 2016/Scoreboards_5_2,NaN,58.6,0.8,4537.8,188426.4,8.0,5.6,202.6,151296.0,19323.4,0.8,12859.2,2.4,28.6
XLG SuperCup 2016/Scoreboards_6_1,NaN,139.0,5.2,4220.4,187770.4,6.4,4.8,168.6,119457.8,23099.6,5.2,9673.0,1.6,16.8
XLG SuperCup 2016/Scoreboards_6_2,NaN,97.6,1.2,5623.0,191059.6,15.4,10.2,125.4,91350.0,11773.4,1.2,9515.2,5.2,15.2